body{
    background-color:#90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat:no-repeat;
    color:#666666;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    color:#FFFFFF;
    background: url(assets/sunset.jpg) right no-repeat;
    background-color:#000033;
    height:60px;
    text-align:center;
    padding-top:15px;
}

h1,h2,h3{
    font-family: Georgia, 'Times New Roman', serif;
}

h1{
    margin-bottom:0px;
    margin-top:0px;
}

nav{
    background-color: #FFFFFF;
    font-weight:bold;
    text-align:center;
    padding:10px;
}

main{
    padding:20px;
    padding-top:0px;
}

footer{
    padding:20px;
}

h2{
    color:#000033;
    text-shadow:3px 3px #CCCCCC;
}

ul{
    list-style-image: url(assets/marker.gif);
}

table, td, th{
    border: 2px solid #3399CC;
    border-collapse: collapse;
}

table tr:nth-of-type(odd) {
    background-color:#c4eeff;
}

td,th{
    padding:0.5em;
}

td{
    text-align:center;
}

footer{
    font-size:75%;
}

label, input{
    display:block;
}

input, textarea{
    margin-bottom:1em;
}

.resort{
    color:#5C7FA3;
    font-size:bold;
}

.required{
    color:#FF0000;
}

#contact{
    font-size:90%;
}

#myEmail{
    width:35ch;
}

#wrapper{
    width:80%;
    margin:auto;
    background-color:#FFFFFF;
    box-shadow:3px 3px #333333;
}

#homehero{
    background-image: url(images/coast.jpg);
    height:300px;
    background-repeat: no-repeat;
    background-size:100%;
}

#yurthero{
    background-image: url(images/yurt.jpg);
    height:300px;
    background-repeat: no-repeat;
    background-size:100%;
}

#trailhero{
    background-image: url(images/trail.jpg);
    height:300px;
    background-repeat: no-repeat;
    background-size:100%;
}