body{
    background-color:#FFFFFF;
    color:#666666;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    color:#FFFFFF;
    background: url(assets/sunset.jpg) right no-repeat;
    background-color:#000033;
    line-height:400%;
    text-indent:1em;
}

h1,h2,h3{
    font-family: Georgia, 'Times New Roman', serif;
}

h1{
    margin-bottom:0px;
}

nav{
    background-color: #90C7E3;
    font-weight:bold;
}

h2{
    color:#000033;
}

ul{
    list-style-image: url(assets/marker.gif);
}

footer{
    font-size:75%;
}

.resort{
    color:#5C7FA3;
    font-size:bold;
}

#contact{
    font-size:90%;
}